<?php
$servername = "localhost";
$connusername = "root";
$connpassword = "";

try {
    $conn = new PDO("mysql:host=$servername;dbname=projet1", $connusername, $connpassword);
    // set the PDO error mode to exception
    $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
    // echo "Connected successfully"; 
    }
catch(PDOException $e)
    {
    echo "Connection failed: " . $e->getMessage();
    }
?>
</head>
<body>
    <form id='register' action='register.php' method='post' 
        accept-charset='UTF-8'>  
    <fieldset > 
    <legend>Register</legend>  
    <input type='hidden' name='submitted' id='submitted' value='1'/>  
    <label for='name' ></label>Your Full Name*: </label> 
     <input type='text' name='name' id='name' maxlength="50" /> 
        <label for='email' >Email Address*:</label> 
    <input type='text' name='email' id='email' maxlength="50" />  
    <label for='username' >UserName*:</label> 
       <input type='text' name='username' id='username' maxlength="50" />  
    <label for='password' >Password*:</label> 
    <input type='password' name='password' id='password' maxlength="50" /> 
    <input type='submit' name='Submit' value='Submit' /> 
        </fieldset> 
    
    </form> 
    
</html>
