body
{
margin:0;
padding: 0;
background:url(Samplice.jpeg);
background-size:cover;
background-position:center;
font-family: sans-serif; 
}
.loginpx
{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.lol
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 100px;

}
.h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginpx p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginpx input
{

width: 100%;
margin-bottom:20px;
}

.loginpx input[type="text"],input[type="Password"]
{
border:none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
}
.loginpx input[type="submit"]
{
    border: none;
    outline:none;
    height: 40px;
    background: #fbd425;
    font-size: 18px;
    border-radius: 20px;

}
.loginpx input[type="submit"]:hover
{
    cursor: pointer;
    background: #fb2525;
    color: #000;
    

}

.loginpx a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginpx a:hover
{
    color: #ffc107; 
}